<?= $this->headTitle('ERP Moveleiro')->setSeparator(' - ')->setAutoEscape(false) ?>

<!-- Tell the browser to be responsive to screen width -->
<?=
        $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Le styles -->
<?=
        $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
        ->prependStylesheet($this->basePath('/css/style.min.css'))
        /** AdminLTE Skins. Choose a skin from the css/skins
          folder instead of downloading all of them to reduce the load. * */
        ->prependStylesheet($this->basePath('/dist/css/skins/_all-skins.min.css'))
        /** Theme style * */
        ->prependStylesheet($this->basePath('/dist/css/AdminLTE.min.css'))
        /** jvectormap * */
        ->prependStylesheet($this->basePath('/plugins/jvectormap/jquery-jvectormap-1.2.2.css'))
        /** Bootstrap 3.3.6 * */
        ->prependStylesheet($this->basePath('/css/bootstrap.min.css'))
?>

<!-- Font Awesome -->
<link rel="stylesheet" href="/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="/css/ionicons.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->