<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Funcionários</h3>
        <div class="box-tools">
            Legenda: <i class="glyphicon glyphicon-arrow-down"></i> Dasativar &nbsp; &nbsp;
            <i class="glyphicon glyphicon-arrow-up"></i> Ativar
            &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="<?= $this->url('manage', ['action' => 'add']) ?>">
                <button class="btn btn-box-tool btn-default">Adicionar Funcionarios</button>
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered table-hover ">
            <thead>
                <tr><th>#</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Sexo</th>
                    <th>Identidade</th>
                    <th>Estado Civil</th>
                    <th>Nascimento</th>
                    <th>Admissão</th>
                    <th>Situação</th>
                    <th>Acões</th>
                </tr>
            </thead>
            <tbody>
                <?php
                $funcionarios = $this->list;

                foreach ($funcionarios as $pessoa):
                    $funcionario = $pessoa->getFisica();
                    ?>

                    <tr>
                        <td><?= $pessoa->getId(); ?></td>
                        <td><?= $pessoa->getNome(); ?></td>
                        <?php if (is_object($funcionario)): ?>
                            <td><?= $funcionario->getCpf(); ?></td>
                            <td><?= $funcionario->getSexo(); ?></td>
                            <td><?= $funcionario->getIdentidade(); ?></td>
                            <td><?= $funcionario->getEstadoCivil(); ?></td>
                            <td><?= is_object($funcionario->getNascimento()) ? $funcionario->getNascimento()->format('d/m/Y') : ''; ?></td>
                            <td><?= is_object($funcionario->getDataAdmissao()) ? $funcionario->getDataAdmissao()->format('d/m/Y') : ''; ?></td>
                        <?php else: ?>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        <?php endif; ?>
                        <td><?= $pessoa->getStatus() == '1' ? 'Ativo' : 'Inativo'; ?></td>
                        <td>
                            <a class="btn btn-default btn-xs"
                               href="<?= $this->url('manage', ['action' => 'add', 'id' => $pessoa->getId()]) ?>"
                               title="Aterar">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <?php if ($pessoa->getStatus() == '1'): ?>
                                <a class="btn btn-default btn-xs"
                                   href="<?= $this->url('manage', ['action' => 'delete', 'id' => $pessoa->getId()]) ?>"
                                   title="Desativar Usuário">
                                    <i class="glyphicon glyphicon-arrow-down"></i>
                                </a>
                            <?php else : ?>
                                <a class="btn btn-default btn-xs"
                                   href="<?= $this->url('manage', ['action' => 'active', 'id' => $pessoa->getId()]) ?>"
                                   title="Ativar Usuário">
                                    <i class="glyphicon glyphicon-arrow-up"></i>
                                </a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="/manage#1">1</a></li>
            <li><a href="/manage#2">2</a></li>
            <li><a href="/manage">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>
