<?php
$formMovimento = $this->formMovimento;
$formUnidade = $this->formUnidade;
echo $this->partial("app/partials/form-modal", ['form' => $formUnidade, 'titulo' => 'Nova Unidade de Medida']);
?>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Entrada de Mercadoria</h3>
        <div class="box-tools">
            <a href="<?= $this->url($rota, ['action' => 'add']); ?>">
                <button id="add-modal" class="btn btn-box-tool btn-default">Nova Entrada</button>
            </a>
        </div>
    </div>

    <div class="box-body">
        <!-- ***** O partial tab-content-form insere  tab-content com form dentro ***** -->
        <?= $this->partial("app/partials/form-submit", ['form' => $formMovimento, 'idAba' => 'movimento']); ?>

        <br>

        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-list"></i> Dados do Produto</h3>
        </div>

        <table class="table-bordered table table-condensed tb-nf">
            <thead>
                <tr>
                    <th width="5%">Código Produto</th>
                    <th width="30%">Descrição do produto/serviço</th>
                    <th width="5%">NCM/SH</th>
                    <th width="5%">CFOP</th>
                    <th width="5%">Unid.</th>
                    <th width="5%">Quant.</th>
                    <th width="5%">Valor Unitário</th>
                    <th width="5%">Valor Desconto</th>
                    <th width="6%">Valor Total</th>
                    <th width="6%">Base de calc. ICMS</th>
                    <th width="5%">valor ICMS</th>
                    <th width="5%">valor IPI</th>
                    <th width="5%">ICMS %</th>
                    <th width="3%">IPI %</th>
                    <th width="5%">Acões</th>
                </tr>

            </thead>
            <tbody>
                <?php
                foreach ($notaFiscal->getMovimentoProduto() as $produtos):
                    ?>
                    <tr class="tr-nota">
                        <td><?= $produtos->getIdNaNota(); ?></td>
                        <td><?= $produtos->getProduto()->getMercadoriaDescricao(); ?></td>
                        <td><?= $produtos->getProduto()->getMercadoria()->getCategoria()->getNumeroNcm(); ?></td>
                        <td><?= $produtos->getCfop()->getCfop(); ?></td>
                        <td><?= $produtos->getUnidadeMedida()->getUnidade(); ?></td>
                        <td><?= $produtos->getQuantidade(); ?></td>
                        <td><?= $produtos->getValorUnitario(); ?></td>
                        <td><?= $produtos->getDesconto(); ?></td>
                        <td><?= $produtos->getValorTotal(); ?></td>
                        <td><?= $produtos->getValorTotal(); ?></td>
                        <td><?= $produtos->getValorIcms(); ?></td>
                        <td><?= $produtos->getValorIpi(); ?></td>
                        <td><?= $produtos->getAliquotaIcms(); ?></td>
                        <td><?= $produtos->getAliquotaIpi(); ?></td>
                        <td>
                            <a href="<?= $this->url($rota, ['action' => 'addProdutos', 'id' => $notaFiscal->getId(), 'produto' => $produtos->getId()]); ?>"><i class="fa fa-edit"></i></a>
                            <a href="<?= $this->url($rota, ['action' => 'removeProduto', 'id' => $notaFiscal->getId(), 'produto' => $produtos->getId()]); ?>"><i class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                    <?php
                endforeach;
                ?>


            </tbody>
        </table>



        <br>

        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-bank"></i>Cálculo de impostos</h3>
        </div>
        <?= $this->partial("app/partials/form-submit", ['form' => $formImposto, 'idAba' => 'imposto']); ?>
    </div>


</div>


<?php

