<?php
$formEndereco = $this->formEndereco;
//$pessoa = [];
echo $this->partial("app/partials/form-modal-endereco", ['formEndereco' => $formEndereco, 'form' => $formTranspFisica, 'titulo' => 'Novo Transportador']);
echo $this->partial("app/partials/form-modal-endereco", ['formEndereco' => $formEndereco, 'form' => $formTranspJuridica, 'titulo' => 'Novo Transportador']);
?>

<div class="nav-tabs-custom">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Entrada de Mercadoria</h3>
            <div class="box-tools">
                <a>
                    <button id="add-modal-fornecedor" class="btn btn-box-tool btn-default">Add Fornecedor</button>
                </a>

                <a>
                    <button id="modal-transportador-cpf" class="btn btn-box-tool btn-default">Add Transportador CPF</button>
                </a>
                <a>
                    <button id="modal-transportador-cnpj" class="btn btn-box-tool btn-default">Add Transportador CNPJ</button>
                </a>

                <a>
                    <button id="add-modal" class="btn btn-box-tool btn-default">Nova Entrada</button>
                </a>
                <a href="<?= $this->url($rota) ?>">
                    <button class="btn btn-box-tool btn-default">Buscar Entradas</button>
                </a>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <!-- ***** O partial tab-content-form insere  tab-content com form dentro ***** -->
        <?=
        $this->partial("app/partials/form-submit", ['form' => $formNotaFiscal, 'idAba' => 'notaFiscal']);
//        echo $this->partial("app/partials/form-submit", ['form' => $formEndereco, 'idAba' => 'transportador']);
//        echo $this->partial("app/partials/form-submit", ['form' => $formTranspFisica, 'idAba' => 'transportador']);
        ?>
    </div>
</div>
<?php
//$this->inlineScript()->appendFile($this->basePath('/js/manage/products.add.js'));
