<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Notas de Entrada </h3>
        <div class="box-tools">
            <a href="<?= $this->url($rota, ['action' => 'add']) ?>">
                <button class="btn btn-box-tool btn-default">Nova Entrada</button>
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class=" table table-bordered table-hover">
            <thead>
                <tr><th>#</th>
                    <th>Número</th>
                    <th>Fornecedor</th>
                    <th>Chave de Acesso</th>
                    <th>Emissão</th>
                    <th>Valor</th>
                    <th>ICMS</th>
                    <th>IPI</th>
                    <th>PIS</th>
                    <th>COFINS</th>
                    <th style="width: 100px;">Ações</th>
                </tr>
                <?php
                $notaFiscal = $this->list;
                foreach ($notaFiscal as $nota):
                    ?>
                    <tr>
                        <td><?= $nota->getId(); ?></td>
                        <td><?= $nota->getNumero(); ?></td>
                        <td><?= $nota->getEmissor()->getNome(); ?></td>
                        <td><?= $nota->getChaveAcesso(); ?></td>
                        <td><?= $nota->getDataSaida()->format('d/m/Y'); ?></td>
                        <td><?= $nota->getValorTotalNota(); ?></td>
                        <td><?= $nota->getValorIcms(); ?></td>
                        <td><?= $nota->getValorIpi(); ?></td>
                        <td><?= $nota->getValorPis(); ?></td>
                        <td><?= $nota->getValorCofins(); ?></td>

                        <td>
                            <a class="btn btn-default btn-xs" href="<?= $this->url($rota, ['action' => 'add', 'id' => $nota->getId()]) ?>"
                               title="Aterar">
                                <i class="glyphicon glyphicon-edit"></i></a>
                            <a class="btn btn-default btn-xs" href="<?= $this->url($rota, ['action' => 'delete', 'id' => $nota->getId()]) ?>"
                               title="Remover">
                                <i class="glyphicon glyphicon-remove"></i></a>

                            <a class="btn btn-default btn-xs" href="<?= $this->url($rota, ['action' => 'addProdutos', 'id' => $nota->getId()]) ?>"
                               title="Produtos da nota fiscal">
                                <i class="fa fa-list-ul"></i></a>
                        </td>
                    </tr>
                    <?php
                endforeach;
                ?>

            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</div>