<div class="nav-tabs-custom">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Adicionar Produtos</h3>
            <div class="box-tools">
                <a>
                    <button id="add-modal" class="btn btn-box-tool btn-default">Nova Categoria</button>
                </a>
                <a href="<?= $this->url($rota) ?>">
                    <button class="btn btn-box-tool btn-default">Listar Produtos</button>
                </a>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <!-- ***** O partial tab-content-form insere  tab-content com form dentro ***** -->
        <?= $this->partial("app/partials/form-campos", ['form' => $formPreVenda, 'idAba' => 'preVenda']); ?>
    </div>
</div>