<?php
//$this->partial("app/partials/form-modal", ['form' => $formCor, 'titulo' => 'Confirmar Nova Cor']);
echo $this->partial("app/partials/form-modal", ['form' => $formMarca, 'titulo' => 'Confirmar Nova Marca']);
//echo $this->partial("app/partials/form-modal", ['form' => $formModelo, 'titulo' => 'Confirmar Novo Modelo']);
//echo $this->partial("app/partials/form-modal", ['form' => $formAcabamento, 'titulo' => 'Confirmar Novo Acabamento']);
echo $this->partial("app/partials/form-modal", ['form' => $formMercadoria, 'titulo' => 'Confirmar Nova Mercadoria']);
echo $this->partial("app/partials/form-modal", ['form' => $formCategoria, 'titulo' => 'Confirmar Nova Categoria']);
?>

<div class="nav-tabs-custom">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Adicionar Produtos</h3>
            <div class="box-tools">
                <a>
                    <button id="add-modal" class="btn btn-box-tool btn-default">Nova Categoria</button>
                </a>
                <a href="<?= $this->url($rota) ?>">
                    <button class="btn btn-box-tool btn-default">Listar Produtos</button>
                </a>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <!-- ***** O partial tab-content-form insere  tab-content com form dentro ***** -->
        <?= $this->partial("app/partials/form-submit", ['form' => $formProduto, 'idAba' => 'produto']); ?>
    </div>
</div>
<?php
//$this->inlineScript()->appendFile($this->basePath('/js/manage/products.add.js'));