<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Produtos Cadastrados</h3>
        <div class="box-tools">
            <a href="<?= $this->url($rota, ['action' => 'add']) ?>">
                <button class="btn btn-box-tool btn-default">Adicionar Produto</button>
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class=" table table-bordered table-hover">
            <thead>
                <tr><th width="2%">#</th>
                    <th width="8%">Identificação</th>
                    <th width="7%">Marca</th>
                    <th width="20%" title="Descrição como da nota fiscal">Descrição</th>
                    <th width="20%" title="Informações adicionais sobre o produto">Adicional</th>
                    <th width="5%" title="Largura em cm">Larg</th>
                    <th width="5%" title="Altura em cm">Alt</th>
                    <th width="5%" title="Profundidade em cm">Prof.</th>
                    <th width="6%" title="Preço do produto para venda">Preço</th>
                    <th width="6%" title="Em estoque">Estoque</th>
                    <th width="8%">Ações</th>
                </tr>
                <?php
                $produtos = $this->list;
                foreach ($produtos as $produto):
                    ?>
                    <tr>
                        <td><?= $produto->getId(); ?></td>
                        <td><?= $produto->getMercadoria()->getDescricao(); ?></td>
                        <td><?= $produto->getMarca()->getNome(); ?></td>
                        <td><?= $produto->getDescricao(); ?></td>
                        <td><?= $produto->getInformacaoAdicional(); ?></td>
                        <td><?= $produto->getLargura(); ?></td>
                        <td><?= $produto->getAltura(); ?></td>
                        <td><?= $produto->getProfundidade(); ?></td>
                        <td><?= 'R$ ', number_format($produto->getValorAtual(), 2, ',', '.'); ?></td>
                        <td><?= '' ?></td>
                        <td>
                            <a class="btn btn-default btn-xs" href="<?= $this->url($rota, ['action' => 'add', 'id' => $produto->getId()]) ?>"
                               title="Aterar">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-default btn-xs" href="<?= $this->url($rota, ['action' => 'delete', 'id' => $produto->getId()]) ?>"
                               title="Remover">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                            <a class="btn btn-default btn-xs" href="<?= $this->url($rota, ['action' => 'add', 'clone' => $produto->getId()]) ?>"
                               title="Clonar">
                                <i class="fa fa-clone"></i>
                            </a>
                        </td>
                    </tr>
                    <?php
                endforeach;
                ?>

            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</div>