
<div class="box box-default color-palette-box box-height-500" id="finalizar-pedido">
    <input type="hidden" id="vendaId" value="<?= current($objProdutoVenda)->getVenda() ?>">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-tag"></i> Finalizar pedido</h3>
        <div class="box-tools">
            <i class="fa fa-user"></i> Vendedor: <?= current($objProdutoVenda)->getVenda()->getVendedor()->getNome(); ?>

        </div>
    </div>
    <div class="box-body">
        <form method="post">

            <table id="table-produtos" class="table table-bordered table-hover table-striped">
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>Produto</th>
                        <th class="">Quantidade Produtos</th>
                        <th>Valor Unitário</th>
                        <th>Desconto em %</th>
                        <th>Valor Total</th>
                    </tr>

                    <tr v-for="(product, index) in produtosVenda">
                        <td>{{product.produto}}</td>
                        <td>{{product.descricao}}</td>
                        <td class="col-md-1">
                            <input name="quantidade[]" class="campotexto" type="text" v-model="product.quantidade"/>
                        </td>
                        <td>R$ {{product.valorAtual.toFixed(2)}}</td>
                        <td class="col-md-1">
                            <input name="desconto[]" class="campotexto " type="text" v-model="product.desconto" value=""/>
                        </td>
                        <td>R$ {{ ((product.valorAtual * product.quantidade) - (((product.valorAtual * product.quantidade) * product.desconto) / 100)).toFixed(2) }}</td>
                    </tr>

                    <tr>
                        <td colspan="5" class="bold">Total</td>

                        <td>R$ {{ total.toFixed(2) }}</td>
                    </tr>
                </tbody>

            </table>
            <!--<pre>{{produtosVenda }}</pre>-->

            <?php
//            $formVenda->setData($produtoVenda->getVenda()->toArray());
//            $formVenda->get('aVista')->setValue(number_format($total, '2', ',', '.'));
//            $formVenda->get('quantidadeParcelas')->setValue(1);
//            //$formVenda->get('valorParcela')->setValue('000');
//            $formVenda->get('dataVenda')->setValue(date('Y-m-d'));
            ?>

            <!-- ***** O partial input-form insere apenas os campos de entrada, sem tags form e botão de envio ***** -->
            <?= $this->partial("app/partials/input-form", ['form' => $formVenda]); ?>

            <input class="btn btn-primary pull-right" type="submit" value="Salvar"/>
        </form>


    </div>
    <br>
    <br>



</div>

<pre>
    <?php
//    print_r(get_class_methods($preVenda->getProduto()));
//    print_r(get_class_methods($collPreVendas[0]));
    //print_r(get_class($collPreVendas));
    ?>
</pre>