<div class="box box-default color-palette-box box-height-500">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-tag"></i> Ultimo(s) pedido(s)</h3>
        <div class="box-tools">
            Legenda: &nbsp; <i class="fa fa-list-alt"></i> Visualizar Pré Venda &nbsp; &nbsp;
            <i class="fa fa-ban"></i> Cancelar Venda
        </div>
    </div>
    <div class="box-body">

        <table id="table-produtos" class="table table-bordered table-hover table-striped">
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Vendedor</th>
                    <th class="">Quantidade Produtos</th>
                    <th>Total</th>
                    <th class="col-md-1">Ações</th>
                </tr>
                <?php foreach ($collPreVendas as $preVenda): ?>
                    <?php
                    $total = 0;
                    foreach ($preVenda->getProduto()as $produto):
                        $total += $produto->getValorAtual();
                    endforeach;
                    ?>
                    <tr>
                        <td><?= $preVenda; ?></td>
                        <td><?= $preVenda->getVendedor()->getNome(); ?></td>
                        <td><?= $preVenda->getProduto()->count(); ?></td>
                        <td><?= "R$ ", number_format($total, 2, ",", "."); ?></td>
                        <td>
                            <a href=""><i class="fa fa-2x fa-list-alt"></i></a> &nbsp;
                            <a href=""><i class="fa fa-2x fa-ban"></i></a>
                        </td>
                    </tr>
                <?php endforeach; ?>

            </tbody>
            <tfoot>
                <tr>
                    <th>&nbsp;</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>


    </div>
    <br>
    <br>



</div>

<pre>
    <?php
//    print_r(get_class_methods($preVenda->getProduto()));
//    print_r(get_class_methods($collPreVendas[0]));
    //print_r(get_class($collPreVendas));
    ?>
</pre>