<div class="col-md-offset-4 col-md-4 box-auth">
    <div class="col-xs-12">
        <h3>Autenticação</h3>
    </div>
    <br clear="all"/><br/>

    <?= $this->form()->openTag($formLogin); ?>
    <?= $this->formRow($formLogin->get('email')); ?>
    <?= $this->formRow($formLogin->get('senha')); ?>

    <div class="col-xs-12">
        <a href="<?= $this->url(); ?>">Esqueci minha senha.</a>
    </div>
    <br clear="all"/><br/>
    <?= $this->formRow($formLogin->get('relembrar'), 'append'); ?>
    <?= $this->formRow($formLogin->get('submit')); ?>
    <br clear="all"/><br/>
    <?= $this->form()->closeTag(); ?>
</div>