<?php
$idPessoa = $formPessoa->get('pessoa')->getValue();
$formEndereco->get('pessoa')->setValue($idPessoa);
$formContato->get('pessoa')->setValue($idPessoa);
$formAcesso->get('fisica')->setValue($idPessoa);
?>
<div class="nav-tabs-custom">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Adicionar Fornecedores</h3>
            <div class="box-tools">
                <a href="<?= $this->url($rota, ['action' => 'add-juridica']) ?>">
                    <button class="btn btn-box-tool btn-default">Adicionar fornecedor PJ</button>
                </a> &nbsp;
                <a href="<?= $this->url($rota, []) ?>">
                    <button class="btn btn-box-tool btn-default">Listar clientes</button>
                </a>
            </div>
        </div>
    </div>
    <?= $this->partial("app/partials/tabs", ['abas' => ['pessoal', 'endereço', 'contato', 'acesso']]); ?>

    <div class="tab-content">
        <!-- ***** O partial tab-active-content-form insere tab-content ativo com form dentro ***** -->
        <?= $this->partial("app/partials/tab-active-content-form", ['form' => $formPessoa, 'idAba' => 'pessoal']); ?>


        <!-- ***** O partial endereço insere a tab de endereço já com a tabela de endereços da pessoa ***** -->
        <?= $this->partial("app/partials/endereco"); ?>

        <!-- ***** O partial endereço insere a tab de contato já com a tabela de endereços da pessoa ***** -->
        <?= $this->partial("app/partials/contato"); ?>

        <!-- ***** O partial tab-content-form insere tab-content com form dentro ***** -->
        <?= $this->partial("app/partials/tab-content-form", ['form' => $formAcesso, 'idAba' => 'acesso']); ?>
    </div>
</div>


