<!DOCTYPE html>
<html>
    <head>
        <?= $this->headTitle('ERP Moveleiro')->setSeparator(' - ')->setAutoEscape(false) ?>

        <!-- Tell the browser to be responsive to screen width -->
        <?=
                $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?=
                $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
                /** Personalização MidiaUAI */
                ->prependStylesheet($this->basePath('/css/style.min.css'))
                /** AdminLTE Skins. Choose a skin from the css/skins
                  folder instead of downloading all of them to reduce the load. * */
                ->prependStylesheet($this->basePath('dist/css/skins/_all-skins.min.css'))
                /** Theme style * */
                ->prependStylesheet($this->basePath('dist/css/AdminLTE.min.css'))
                /** jvectormap * */
                ->prependStylesheet($this->basePath('plugins/jvectormap/jquery-jvectormap-1.2.2.css'))
                /** Bootstrap 3.3.6 * */
                ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ?>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="/css/ionicons.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="body-auth">
        <div class="wrapper">




            <!-- Content Wrapper. Contains page content -->
            <div class="container container-auth">

                <!-- Main content -->
                <section class="content">
                    <?= $this->partial('app/partials/message'); ?>
                    <?= $this->content ?>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <footer class="main-footer footer-auth">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.3.5
                </div>
                <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
                reserved.
            </footer>


        </div>
        <!-- ./wrapper -->

        <!-- jQuery 2.2.3 -->
        <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="/plugins/fastclick/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="/dist/js/app.min.js"></script>
        <!-- Sparkline -->
        <script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!-- SlimScroll 1.3.0 -->
        <script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <!-- ChartJS 1.0.1 -->
        <script src="/plugins/chartjs/Chart.min.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--        <script src="/dist/js/pages/dashboard2.js"></script>-->
        <!-- AdminLTE for demo purposes -->
        <script src="/dist/js/demo.js"></script>

        <?=
                $this->inlineScript()
                ->appendFile($this->basePath('/js/jquery.validate.min.js'))
                ->appendFile($this->basePath('/js/jquery.form.min.js'))
                ->appendFile($this->basePath('/js/jquery.mask.min.js'))
                ->appendFile($this->basePath('/js/bootstrap3-typeahead.min.js'))
                ->appendFile($this->basePath('/js/script.min.js'))
        ?>

        <div id="loading-layer">
            <img src="/img/loading-ajax-0.gif" alt=""/>
        </div>
    </body>
</html>
