<h3>
    <i class="fa fa-lock"></i> Controle de Acesso
    <a href="<?= $this->url('auth-acl', ['action' => 'permissoes']); ?>">
        <button class="btn btn-info pull-right"><i class="fa fa-lock"></i> Novo Grupo de Usuário</button>
    </a>
</h3>

<hr/>

<div class="panel panel-default">
    <div class="panel-heading">Lista de Grupo de Acesso
        <span class="legenda pull-right">
            <i class="icon">Legenda:</i>
            <a><i class="glyphicon glyphicon-edit"></i>Editar</a>
            <a><i class="glyphicon glyphicon-remove"></i>Remover</a>
        </span>
    </div>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Qtd de Pessoas no Grupo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            <?php foreach ($this->grupos as $grupo): ?>
                <tr>
                    <td><?php echo $grupo->getId(); ?></td>
                    <td><?php echo $grupo->getNome(); ?></td>
                    <td><?php echo $grupo->getDescricao(); ?></td>
                    <td><?php echo $grupo->getPessoaGrupo()->Count(); ?></td>
                    <td>
                        <a class="btn btn-default btn-xs" href="<?php echo $this->url('auth-acl', array('action' => 'permissoes', 'id' => $grupo->getId(), 'page' => $this->page)) ?>" title="Aterar"><i class="glyphicon glyphicon-edit"></i></a>
    <!--                        <a class="btn btn-default btn-xs" href="/secretaria/aluno/delete/id/74" rel="Thalles Vinicius Ferreira Santos" title="Remover"><i class="glyphicon glyphicon-remove"></i></a>-->
                    </td>
                </tr>
            <?php endforeach; ?>


        </tbody>
    </table>

</div>