<?php
$idGrupo = null;
$nomeGrupo = null;
$descricaoGrupo = null;
$arrayPermissoes = [];

if ($this->listGrupo) {
    $idGrupo = $this->listGrupo->getId();
    $nomeGrupo = $this->listGrupo->getNome();
    $descricaoGrupo = $this->listGrupo->getDescricao();

    foreach ($this->listGrupo->getPermissaoGrupo() as $permisaoGrupo) {

        $arrayAction = explode(',', $permisaoGrupo->getPermissao()->getActions());

        foreach ($arrayAction as $action) {
            $arrayPermissoes[] = $permisaoGrupo->getPermissao()->getController() . '#' . trim($action);
        }
    }
}
//print_r($arrayPermissoes);
?>


<h3>
    Controle de Acesso
</h3>

<hr/>

<form method="post" action="/auth/acl/salvar" id="form-permissoes">

    <input type="hidden" name="idGrupo" value="<?php echo $idGrupo; ?>"/>

    <label class="labeltexto grande">Nome do Grupo
        <input class="campotexto" name="nome" id="nome" value="<?php echo $nomeGrupo; ?>"/>
    </label>

    <br/>

    <label class="labeltexto grande">Descrição do Grupo
        <textarea name="descricao" class="campotexto" id="descricao" style="height: 60px;"><?php echo $descricaoGrupo; ?></textarea>
    </label>


    <br clear="all">

    <?php
    $manager = $this->serviceManager->get('ModuleManager');
    $modules = $manager->getLoadedModules();
    $loadedModules = array_keys($modules);
    $skipActionsList = ['notFoundAction', 'getMethodFromAction', 'newAction', 'editAction'];
    $loadedModules = array_diff($loadedModules, [
        "App", "DoctrineModule", "DoctrineORMModule"
    ]);
    sort($loadedModules);
    $contador = 1;
    ?>

    <ul id="myTab" class="nav nav-tabs nav-justified labeltexto" role="tablist" style="padding: ">
        <?php foreach ($loadedModules as $loadedModule) : ?>

            <?php
            if (strstr($loadedModule, 'Zend'))
                continue;
            ?>
            <?php //echo teste; ?>
            <li role="presentation" class="<?php echo $contador == 1 ? 'active' : ''; ?>">
                <a href="#<?php echo $loadedModule; ?>" id="<?php echo $loadedModule; ?>-tab" role="tab" data-toggle="tab" aria-controls="dados-pessoais" aria-expanded="false">
                    <?php echo $loadedModule; ?>
                </a>
            </li>
            <?php $contador++; ?>
        <?php endforeach; ?>

    </ul>

    <div id="myTabContent" class="tab-content" style="border: 1px solid #dfdfdf; margin-left: 2.5%;margin-right: 2.5%; margin-top: -16px ;padding-left: 10px; padding-top: 10px">


        <?php
        $contador = 1;
        foreach ($loadedModules as $loadedModule) :
            $diretorioControladores = $this->modulesDirectory . '\\' . $loadedModule . '\src\Controller';
            ?>


            <div role="tabpanel" class="tab-pane fade <?php echo $contador == 1 ? 'in active' : ''; ?>" id="<?php echo $loadedModule; ?>" aria-labelledby="<?php echo $loadedModule; ?>-tab">

                <?php
                $arrayControladores = array_diff(scandir($diretorioControladores), ['.', '..', 'AbstractController.php']);
                sort($arrayControladores);
                foreach ($arrayControladores as $controlador):
                    ?>
                    <ul class="  labeltexto">
                        <?php
                        echo $aliasControlador = str_replace('Controller.php', '', $controlador);

                        $namespaceControllador = $loadedModule . '\Controller\\' . str_replace('.php', '', $controlador);
                        $reflectionClass = new ReflectionClass($namespaceControllador);

                        $acoes = array_diff(get_class_methods($namespaceControllador), $skipActionsList);
                        sort($acoes);
                        foreach ($acoes as $acao):
                            if (strpos($acao, 'Action')):
                                $docComent = $reflectionClass->getMethod($acao)->getDocComment();
                                ?>
                                <li style="list-style-position:  inside; list-style-type: none">
                                    <label class="label-acl">

                                        <?php
                                        $checked = '';
                                        $acao = str_replace(['Action'], [''], $acao);
                                        $valorCheckebox = $loadedModule . '/' . $aliasControlador . '#' . $acao;
                                        if (in_array($valorCheckebox, $arrayPermissoes)) {
                                            $checked = 'checked="checked"';
                                        }

                                        if ($docComent) :
                                            $textExibicao = trim(str_replace(['/', '*', '@description'], ['', '', ''], $docComent));
                                        else:
                                            $textExibicao = $acao;
                                        endif;
                                        ?>

                                        <input type="checkbox" name="controllers[<?php echo $loadedModule . '/' . $aliasControlador; ?>][]" <?php echo $checked; ?> value="<?php echo $acao/* $valorCheckebox */; ?>"><?php echo $textExibicao; ?>
                                    </label>
                                </li>
                                <?php
                            endif;
                        endforeach;
                        ?>
                    </ul>
                    <?php
                endforeach;
                ?>
            </div>
            <?php $contador++; ?>
        <?php endforeach; ?>
        <br clear="all"/>
        <input class="btn" type="submit" value="Salvar Grupo"style="
               position: fixed;
               bottom: 246px;
               display: block;
               margin-left: 400px;
               "/>

    </div>
</form>