<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('ZF Skeleton Application')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?=
                $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?=
                $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
                ->prependStylesheet($this->basePath('css/style.css'))
        ?>

        <!-- Scripts -->
        <?=
                $this->headScript()
                ->prependFile($this->basePath('js/bootstrap.min.js'))
                ->prependFile($this->basePath('js/jquery-3.1.0.min.js'))
        ?>
    </head>
    <body class="auth">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                </div>

            </div>
        </nav>
        <div id="fundo-amarelo">
            <div class="fundo-branco">
                <img class="center-block" src="/img/marca-meumasb.png"/>
            </div>
            <br clear="all"/>

            <div class="container">
                <?= $this->content ?>

            </div>

            <hr>

            <footer>
                <div class="footer-um"><img width="130px" src="/img/logo-masb.png"/></div>
                <div class="footer-dois"><br>Rua Curitiba, 1279, Centro. CEP: 30170-121 <br>Belo Horizonte - MG</div>
            </footer>

            <?= $this->inlineScript() ?>
        </div>
    </body>
</html>
