<h2>
    Alterar Minha Senha
<!--    <a href="<?php echo $this->url('auth-pessoa', ['controller' => 'usuario']); ?>">
        <button class="btn btn-info pull-right">&nbsp; &nbsp; Listar Usuários <span class="glyphicon glyphicon-user"></span> &nbsp; &nbsp;</button>
    </a>-->
</h2>
<hr/>
<?php
$formSenha->prepare();

//print_r($this->formElementErrors());
foreach ($formSenha->getElements() as $element) {

    foreach ($element->getMessages() as $mensagem) {
        echo "$mensagem <br>";
    }
}



echo $this->form()->openTag($formSenha);
echo $this->formCollection($formSenha) . "";

$formSenha->add(array(
    'name' => 'submit',
    'type' => 'Zend\Form\Element\Submit',
    'attributes' => array(
        'value' => 'Salvar',
        'class' => 'btn pull-right'
    )
        )
);

echo $this->formSubmit($formSenha->get('submit')) . '<br clear="all"/>';

echo $this->form()->closeTag();
?>
