<div class="box box-default color-palette-box box-height-500" id="pedido">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-tag"></i> Criar pedido</h3>
    </div>
    <div class="box-body">
        <?php
        $formPreVenda->prepare();
        echo $this->form()->openTag($formPreVenda);
        echo $this->formCollection($formPreVenda);

        //echo $this->formSubmit($formPreVenda->get('submit'));
        echo $this->form()->closeTag();
        ?>

        <br>

        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-shopping-cart"></i> Carrinho</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <form method="post">
                <input type="hidden" name="vendedor" id="vendedor"/>
                <table id="table-produtos" class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Produto</th>
                            <th class="col-md-2">Quantidade</th>
                            <th>Valor Unitário</th>
                            <th>Desconto %</th>
                            <th>Total</th>
                            <th class="col-md-1">Ações</th>
                        </tr>
                        <tr v-for="(product, index) in products">
                            <td style="width: 10px">{{ product.id }}
                                <input class="campo-texto values" type="hidden" name="produto[]" v-model="product.id">
                            </td>
                            <td>{{ product.name }}</td>
                            <td><input class="campo-texto values" type="number" name="quantidade[]" value="1" v-model="product.quantidade"></td>
                            <td class="col-md-2">{{ product.valor }}</td>
                            <td><input class="campo-texto values" type="number" name="desconto[]" value="0.0" v-model="product.desconto"></td>
                            <td>R$ {{ ((product.valor * product.quantidade) - (((product.valor * product.quantidade) * product.desconto) / 100)).toFixed(2) }}</td>
                            <td class="col-md-1">
                                <a class="btn btn-default btn-xs" href="#" v-on:click="removeProduct(index)" title="Deletar endereço!">
                                    <i class="fa fa-remove fa-2x"></i></a>
                            </td>
                        </tr>


                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <input class="btn btn-info pull-right col-md-3" type="submit" value="Salvar Pré Venda">
            </form>


        </div>
        <br>
        <br>



    </div>
    <!-- /.box-body -->
</div>

