<h2>Adicionar Clientes </h2>
<div>
    <div>
        <label class="labeltexto col-md-6">
            <span>Tipo Cliente</span>
            <select name="padrao" class="campotexto">
                <option value="">Escolha</option>
                <option value="cpf">CPF</option>
                <option value="cnpj">CNPJ</option>
            </select>
        </label>
    </div>
</div>
