<h2>Adicionar Cliente 
<div>
    <div>
        Qual o tipo de cliente:
        <a class="btn btn-default btn-xs" href="<?= $this->url('manage-client', ['action' => 'add-fisica']) ?>" title="CPF">
            <i class="glyphicon glyphicon-check"> Pessoa Física</i>
        </a>
        <a class="btn btn-default btn-xs" href="<?= $this->url('manage-client', ['action' => 'add-juridica']) ?>" title="CNPJ">
            <i class="glyphicon glyphicon-check"> Pessoa Jurídica</i>
        </a>
    </div>
</div>

</h2>

