<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Clientes</h3>
        <div class="box-tools">
            <a href="<?= $this->url($rota, ['action' => 'add-fisica']) ?>">
                <button class="btn btn-box-tool btn-default">Adicionar Cliente PF</button>
            </a> &nbsp;
            <a href="<?= $this->url($rota, ['action' => 'add-juridica']) ?>">
                <button class="btn btn-box-tool btn-default">Adicionar Cliente PJ</button>
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class=" table table-bordered table-hover">
            <thead>
                <tr><th>#</th>
                    <th>Nome</th>
                    <th>Cpf/Cnpj</th>
                    <th>Pessoa</th>
                    <th>Acões</th>
                </tr>
            </thead>
            <tbody>
                <?php
                $clientes = $this->list; //$funcionario->();
                foreach ($clientes as $pessoa):
                    $tipo = lcfirst(str_replace('í', 'i', $pessoa->getTipoPessoa()->getTipo()));
                    $tipoFunction = trim('get' . ucfirst($tipo));
                    $cliente = $pessoa->$tipoFunction();
                    if (!is_object($cliente)) {
                        continue;
                    }
                    ?>
                    <tr>
                        <td><?= $cliente->getPessoa()->getId(); ?></td>
                        <td><?= $cliente->getPessoa()->getNome(); ?></td>
                        <td><?= $tipo === 'fisica' ? $cliente->getCpf() : $cliente->getCnpj(); ?></td>
                        <td><?= $pessoa->getTipoPessoa()->getTipo(); ?></td>

                        <td>
                            <a class="btn btn-default btn-xs" href="
                               <?= $this->url('manage-client', ['action' => 'add-' . $tipo, 'id' => $pessoa->getId()]) ?>"
                               title="Aterar">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-default btn-xs" href="
                               <?= $this->url('manage-client', ['action' => 'delete', 'id' => $pessoa->getId()]) ?>"
                               title="Remover">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <?php
                endforeach;
                ?>

            </tbody>
        </table>

    </div>
</div>