<?= $this->partial("app/partials/form-modal", ['form' => $formCategoria,'titulo' => 'Cadastrar Categoria']); ?>

<div class="nav-tabs-custom">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Adicionar Mercadorias</h3>
            <div class="box-tools">
                <a href="<?= $this->url($rota) ?>">
                    <button class="btn btn-box-tool btn-default">Listar Mercadorias</button>
                </a>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <!-- ***** O partial tab-content-form insere  tab-content com form dentro ***** -->
        <?= $this->partial("app/partials/form-submit", ['form' => $formMercadoria, 'idAba' => 'produto']); ?>
    </div>
</div>
<?php
//$this->inlineScript()->appendFile($this->basePath('/js/manage/products.add.js'));