<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Produtos Cadastrados</h3>
        <div class="box-tools">
            <a href="<?= $this->url($rota, ['action' => 'add']) ?>">
                <button class="btn btn-box-tool btn-default">Adicionar Produto</button>
            </a> 
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class=" table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Produto</th>
                    <th>Categoria</th>
                    <th>NCM</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php
                $mercadorias = $this->list;
                foreach ($mercadorias as $mercadoria): 
                    ?>
                    <tr>
                        <td><?= $mercadoria->getId(); ?></td>
                        <td><?= $mercadoria->getDescricao(); ?></td>
                        <td><?= $mercadoria->getCategoria()->getDescricao(); ?></td>
                        <td><?= $mercadoria->getCategoria()->getNumeroNcm(); ?></td>

                        <td>
                            <a class="btn btn-default btn-xs" href="
                               <?= $this->url($rota, ['action' => 'add', 'id' => $mercadoria->getId()]) ?>"
                               title="Aterar">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-default btn-xs" href="
                               <?= $this->url($rota, ['action' => 'delete', 'id' => $mercadoria->getId()]) ?>"
                               title="Remover">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <?php
                endforeach;
                ?>

            </tbody>
        </table>

    </div>
</div>