@import "compass/css3";
Alert{
    color : #006699;
    background-color: #ffffff;
    header-colors : #5598be, #0a5885;
    header-height:19;
    drop-shadow-enabled: true;
    drop-shadow-color :#243322;
    corner-radius :6;
    border-style :solid;
    border-thickness: 1;
    border-color : #5599bb;
    footer-colors : #243322, #ffffff;
    title-style-name : "title";
}

body {
    /*Configurações do scrol do body*/
    &.body-auth{
        background-color: #ecf0f5;
    }
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    /*Fim das configurações scroll*/

    button, input, optgroup, select, textarea{
        font-weight: normal;
    }
    .labeltexto, .label-texto {
        margin-top: 10px;
    }
    .campotexto, .campo-texto {
        -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
        -webkit-transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        background-color:#FFFFFF;
        background-image:none;
        border:1px solid #CCCCCC;
        border-radius:0;
        box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
        color:#6F6F6F;
        display:inline-block;
        font-size:15px;
        height:39px;
        line-height:1.4;
        padding:8px 12px;
        transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width:100%;
        &:focus{
            -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(102, 175, 233, 0.6) 0 0 8px;
            border-color:#66AFE9;
            box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(102, 175, 233, 0.6) 0 0 8px;
            outline:0;
        }
    }
    textarea{
        &.campotexto, &.campo-texto{
            height: auto;
        }
    }
    .texto-form-sim {
        color: #000800;
        font-size: 14px;
        font-style: italic;
        font-weight: bolder;
    }
    .texto-form-nao {
        color: rgb(210, 60, 60);
        font-size: 14px;
        font-style: italic;
        font-weight: bolder;
    }

    .btn {
        &.btn-submit{
            margin: 15px 15px 15px 15px;
        }

        &.btn-same-line{
            padding: 8.5px 0px;
            margin: 30px 0px 4px 0px;
        }
    }

    #loading-layer {
        top: 0;
        width: 1920px;
        height: 1080px;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        z-index: 1100;
        display: none;
        overflow: hidden;

        img {
            position: relative;
        }
    }

    select.readonly {
        background: #eee; /*Simular campo inativo*/
        pointer-events: none;
        touch-action: none;
    }
    .box-height-500{
        min-height: 500px;
    }

    table{
        tr{
            &.v-align-midle{
                td{
                    vertical-align: middle;
                }
            }

        }
    }

    .bold {
        font-weight: bold;
    }

    /** Tela de autenticação */
    &.body-auth {
        .box-auth {
            border: 4px solid orange;
            border-radius: 0px 100px;
            min-height: 350px;
            background-color: white
        }

        footer {
            &.footer-auth {
                margin-left: 0px;
            }
        }
    }
    .values {
        width: 100px;
    }
}

.margin-top-15{margin-top: 15px !important}
