
<?php
$form = $this->form;



$form->prepare();

echo $this->form()->openTag($form);


//echo $this->formRow($form->get('tipoPessoa')) . '<br />';
//echo $this->formRow($form->get('cpf')) . '<br />';
echo $this->formRow($form->get('email'));
?>

<br/>

<a href="<?php echo $this->url('full-auth', ['controller' => 'index', 'action' => 'index', 'modulo' => $this->modulo]) ?>" class="link-login">Voltar(Tela de Login).</a> <br/>

<br/>

<?php
$form->add(array(
    'name' => 'submit',
    'type' => 'Zend\Form\Element\Submit',
    'attributes' => array(
        'value' => 'Enviar',
        'class' => 'btn btn-primary'
    )
        )
);

echo $this->formSubmit($form->get('submit'));

echo $this->form()->closeTag();
?>


