
<?php
$form = $this->form;


//$form->setAttribute('method', 'post');
$form->prepare();

//$this->formRow($form->get('relembrar'), 'append');

echo $this->form()->openTag($form);
//echo $this->formCollection($form) . "";

echo $this->formRow($form->get('email')) . '<br />';

echo $this->formRow($form->get('senha'));
?>

<br clear="all">

<a href="<?php echo $this->url('auth-index', ['controller' => 'index', 'action' => 'esqueci', 'modulo' => $this->modulo]); ?>" class="link-login">Esqueci minha senha.</a> <br/>


<br/>

<?php
echo $this->formRow($form->get('relembrar'), 'append');
?>

<br/>
<br/>

<?php
$form->add(array(
    'name' => 'submit',
    'type' => 'Zend\Form\Element\Submit',
    'attributes' => array(
        'value' => 'Entrar',
        'class' => 'btn btn-primary'
    )
        )
);

echo $this->formSubmit($form->get('submit'));

echo $this->form()->closeTag();
?>


