<?php
$form->prepare();
?>

<div class="row content-auth">

    <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">


        <h4>ÁREA EXCLUSIVA PARA CLIENTES MASB</h4>


        <div class="row fundo-branco shadow-box">


            <ul id="tab-login" class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active">
                    <a href="#login" role="tab" data-toggle="tab" aria-controls="login" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> &nbsp; SOU CLIENTE</a>
                </li>
                <li role="presentation" class="">
                    <a href="#primeiro-acesso" role="tab" data-toggle="tab" aria-controls="acesso" aria-expanded="false"><i class="glyphicon glyphicon-pencil"></i> &nbsp; PRIMEIRO ACESSO?</a>
                </li>
            </ul>

            <div id="tab-content-login" class="tab-content">

                <div role="tabpanel" class="tab-pane fade active in" id="login" aria-labelledby="login">

                    <!-- Abre a tag form -->
                    <?= $this->form()->openTag($form); ?>

                    <span id="grupo-tipo-acesso">
                        <label><input type="radio" name="tipo-acesso" value="codigo" checked="checked" /> CODIGO</label>
                        <label><input type="radio" name="tipo-acesso" value="cpf" /> CPF</label>
                        <label><input type="radio" name="tipo-acesso" value="cnpj" /> CNPJ</label>
                    </span>

                    <br clear="all"/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon "><i class="glyphicon glyphicon-user"></i></span>
                        <?= $this->formElement($form->get('email')) ?>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                        <?= $this->formElement($form->get('senha')) ?>
                    </div>

                    <br/><br/>

                    <input type="submit" value=" &nbsp; AUTENTICAR &nbsp; " class="btn btn-masb btn-lg"/>

                    <!-- Fecha a tag form -->
                    <?= $this->form()->closeTag(); ?>

                    <br/><br/>

                    <span class="esqueci-senha">
                        <a>ESQUECI MINHA SENHA</a>
                    </span>
                </div>



                <!-- Ativas termina aqui -->




                <div role="tabpanel" class="tab-pane fade in" id="primeiro-acesso" aria-labelledby="acesso">

                    <br clear="all"/>
                    <p class="text-bold">Este é seu primeiro acesso, portanto será necessário criar uma senha. Digite seu CPF ou CNPJ no campo abaixo.</p>

                    <span id="grupo-tipo-acesso">
                        <label><input type="radio" name="tipo-acesso" value="cpf" checked="checked" /> PESSOA FÍSICA</label>
                        <label><input type="radio" name="tipo-acesso" value="cnpj" /> PESSOA JURÍDICA</label>
                    </span>
                    <br clear="all"/>


                    <div class="form-group form-group-lg">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="CPF ou CNPJ">
                    </div>

                    <br/><br/>

                    <input type="submit" value=" &nbsp; CRIAR SENHA &nbsp; " class="btn btn-masb btn-lg"/>

                    <br/><br/><br/>
                </div>



            </div>




        </div>




    </div>

</div>