<div role="tabpanel" class="tab-pane" id="contato">
    <!-- O partial "form" insere o form completo somente. -->
    <?= $this->partial("app/partials/form", ['form' => $formContato, 'idAba' => 'contato']); ?>

    <br clear="all"/>

    <div class="col-md-12">


        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Lista de Contatos</h3>
                <div class="box-tools">
                    <button class="btn btn-default btn-xs" title="Aterar"><i class="glyphicon glyphicon-remove"></i></button> Excluir
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn btn-default btn-xs" title="Excluir"><i class="glyphicon glyphicon-edit"></i></button> Alterar
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>#</th>
                        <th>Responsavel</th>
                        <th>Principal?</th>
                        <th>Tipo de Telefone</th>
                        <th>Numero</th>

                        <th>Ações</th>
                    </tr>
                    <tr v-for="(contact, index) in contacts">
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.responsavel }}</td>
                        <td>{{ contact.principal == 1 ? 'Sim':'Não'}}</td>
                        <td>{{ contact.descricao }}</td>
                        <td>{{ contact.numero }}</td>
                        <td>
                            <a class="btn btn-default btn-xs" v-on:click="editContact(index)" href="#" title="Aterar Contato">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-default btn-xs" v-on:click="removeContact(index)" href="#" title="Remover Contato">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br clear="all"/>
</div>
<?php
$arrayContacts = [];
if (is_object($pessoa)):
    foreach ($pessoa->getContatos() as $contato):
        $arrayContacts[] = $contato->toArray();
    endforeach;

endif;
?>
<script type="text/javascript">
    var contacts = <?= $this->json($arrayContacts); ?>;
</script>