<div role="tabpanel" class="tab-pane" id="endereço">
    <!-- O partial "form" insere o form completo somente. -->
    <?= $this->partial("app/partials/form", ['form' => $formEndereco, 'idAba' => 'endereço']); ?>

    <br clear="all"/>

    <div class="col-md-12">

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Lista de Endereços</h3>
                <div class="box-tools">
                    <button class="btn btn-default btn-xs" title="Aterar"><i class="glyphicon glyphicon-remove"></i></button> Excluir
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn btn-default btn-xs" title="Excluir"><i class="glyphicon glyphicon-edit"></i></button> Alterar
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>#</th>
                        <th>Titulo</th>
                        <th>CEP</th>
                        <th>Logradouro</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>UF</th>
                        <th>Ações</th>
                    </tr>

                    <tr v-for="(adress, index) in adresses">
                        <td data-type="id">{{ adress.id }}</td>
                        <td data-type="titulo">{{ adress.titulo }}</td>
                        <td data-type="cep">{{ adress.cep }}</td>
                        <td data-type="logradouro">
                            {{ adress.logradouro }}, {{adress.numero}} {{adress.complemento}}
                        </td>
                        <td data-type="bairro">{{ adress.bairro }}</td>
                        <td data-type="cidade">{{ adress.cidadeNome }}</td>
                        <td data-type="uf">{{ adress.ufSigla }}</td>
                        <td>
                            <a class="btn btn-default btn-xs" @click="editAdress(index)" href="#" title="Aterar">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-default btn-xs" href="#" v-on:click="deleteAdress(index)" title="Deletar endereço!">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>


                </table>

            </div>
        </div>
    </div>
    <br clear="all"/>
</div>
<?php
$arrayT = [];
if (is_object($pessoa)):
    foreach ($pessoa->getEnderecos() as $endereco):
        $arrayT[] = $endereco->toArray();
    endforeach;

endif;
?>
<script type="text/javascript">
    var adresses = <?= $this->json($arrayT); ?>;
</script>