<div class="modal fade <?= $form->getAttribute("id") ?>" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <strong><?= $titulo ?></strong>
                </h4>
            </div>

            <?php $form->prepare(); ?>
            <?= $this->form()->openTag($form); ?>

            <div class="modal-body">
                <?= $this->formCollection($form); ?>
                <?= $this->formCollection($formEndereco); ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button name="salvarModal" type="submit" class="btn btn-default">Salvar </button>

            </div>

            <?= $this->form()->CloseTag(); ?>
        </div>
    </div>
</div>