

<div class="modal fade <?= $form[0]->getAttribute("id") ?>" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <strong><?= $titulo ?></strong>
                </h4>
            </div>


            <div class="modal-body">
                <?php
                foreach ($form as $fAtual):
                    $fAtual->prepare();
                    echo $this->form()->openTag($fAtual);
                    echo $this->formCollection($fAtual);
                    ?>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button name="salvarModal" type="submit" class="btn btn-default">Salvar </button>

                </div>

                <?php
                echo $this->form()->CloseTag();
            endforeach;
            ?>
        </div>
    </div>
</div>

















