<?php
echo '<div role="tabpanel" class="tab-pane" id="'.$idAba.'">';
foreach ($form as $fAtual):
    echo $this->formCollection($fAtual);
    echo '<input type="button" class="btn" value="Salvar "' . ucfirst($idAba) . '">';
endforeach;
echo '</div>';
?>