<?php

$session = new \Zend\Session\Container;
$msg = NULL;
if (isset($session->mensagem)) {
    $msg = "<div class=\"alert alert-{$session->mensagem['tipo']}\">{$session->mensagem['texto']}"
            . "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">×</span></button>"
            . "</div>";
    unset($session->mensagem);
}

echo $msg;
