<div role="tabpanel" class="tab-pane active" id="<?= $idAba ?>">
    <?php
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formCollection($form);
    echo '<button type="submit" class="btn btn-submit">Salvar ' . ucfirst($idAba) . '</button>';
    echo $this->form()->closeTag();
    ?>

</div>

