

<ul class="nav nav-tabs" role="tablist">
    <?php
    $class = 'class="active"';
    foreach ($abas as $aba):
        ?>
        <li role="presentation" <?= $class; ?>>
            <a href="#<?= $aba; ?>"  aria-controls="home" role="tab" data-toggle="disabled"><?= ucfirst($aba); ?></a>
        </li>
        <?php
        $class = '';
    endforeach;
    ?>
</ul>